
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #014749;
}


.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}


header {
    background: #0d5a5a;
    color: white;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}


section {
    margin: 40px 0;
}

h2 {
    color: #059797;
}


